<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/colorPicker.css">


</head>

<body>
<div class="colorContainer">
  <div class="square red" color="#ff0000"></div>
  <div class="square orange" color="#fd7e14"></div> 
  <div class="square yellow" color="#ffff00"></div>
  <div class="square green" color="#008000"></div>
  <div class="square skyblue" color="#87ceeb"></div>
  <div class="square navy" color="#000080"></div>
  <div class="square white" color="#ffffff"></div>
  <div class="square beige" color="#f5f5dc"></div>
  <div class="square sienna" color="#a0522d"></div>
  <div class="square slategray" color="#708090"></div>
  <div class="square black" color="#000000"></div>
  <div class="square pink" color="#ffc0cb"></div>
  <div class="square deeppink" color="#ff1493"></div>  
  <div class="square purple" color="#9400ff"></div> 
  
  
</div> 

<script src="/js/colorPicker.js"></script>
</body>
</html>