<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
	src="https://sliptree.github.io/bootstrap-tokenfield/docs-assets/js/typeahead.bundle.min.js"></script>
<script
	src="https://sliptree.github.io/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>


<link rel="stylesheet"
	href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet"
	href="//sliptree.github.io/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css">
<link rel="stylesheet"
	href="//sliptree.github.io/bootstrap-tokenfield/dist/css/tokenfield-typeahead.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- icon pack -->
<link rel="stylesheet" 
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/header.css">
</head>

<body>
	<script type="text/javascript">
		function changeSearchMod(target) {
			var defaultSearch = document.getElementById("defaultSearch");

			console.log(target);
			
			switch(target){
			case 'categoryBtn' :
				defaultSearch.style.display = 'none';
				document.getElementById("categorySearch").style.display = 'block';
				break;
			case 'colorBtn' :
				defaultSearch.style.display = 'none';
				document.getElementById("colorSearch").style.display = 'block';
				break;
			case 'styleBtn' :
				defaultSearch.style.display = 'none';
				document.getElementById("styleSearch").style.display = 'block';
				break;
			case 'brandBtn' :
				defaultSearch.style.display = 'none';
				document.getElementById("brandSearch").style.display = 'block';
				break;
			case 'userBtn' :
				defaultSearch.style.display = 'none';
				document.getElementById("userSearch").style.display = 'block';
				break;
			}
		}

		function returnDefaultMod() {
			var defaultSearch = document.getElementById("defaultSearch");
			defaultSearch.style.display = 'block';
			document.getElementById("categorySearch").style.display = 'none';
			document.getElementById("colorSearch").style.display='none'; 
			document.getElementById("styleSearch").style.display='none';
			document.getElementById("brandSearch").style.display='none';
			document.getElementById("userSearch").style.display='none'; 

		}

	</script>

	<!--db가져오기 테스트 -->
	<nav class="fashion">
		<img src="https://i.ibb.co/MVr31h7/logo.png" alt="logo" />

		<ul class="searchBoard" style="margin: 0; padding: 0">
			<input type="text" class="inputField" placeholder="" size="35"
				id="inputField" value="" />

			<li class="drop-down" id="defaultSearch">

				<div class="mega-menu">
					<div class="mm-6column">
						<p>상세검색</p>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<button class="menuBtn" id="categoryBtn" value="카테고리:"
									onclick="changeSearchMod('categoryBtn')">카테고리</button>
						</span>
						</span>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>

								<button class="menuBtn" id="colorBtn" value="색상:"
								onclick="changeSearchMod('colorBtn')">색상</button>
						</span>
						</span>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<button class="menuBtn" id="styleBtn" value="스타일:"
									onclick="changeSearchMod('styleBtn')">스타일</button>
						</span>
						</span>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<button class="menuBtn" id="brandBtn" value="브랜드:"
									onclick="changeSearchMod('brandBtn')">브랜드</button>
						</span>
						</span>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<button class="menuBtn" id="userBtn" value="유저:"
									onclick="changeSearchMod('userBtn')">유저</button>
						</span>
						</span>
					</div>
				</div>
			</li>

			<!-- 카테고리 -->
			<li class="drop-down" id='categorySearch' style="display: none">
				<div class="mega-menu">
					<div class="mm-6column">
						<p>카테고리 검색</p>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<table>
									<td th:each="category:${category}"><input class="attrBtn"
										th:type="button" th:value="${category.name}"
										onclick="returnDefaultMod()"></input></td>
								</table>
						</span>
						</span>
					</div>

				</div>
			</li>
			
			<!-- 칼라 -->
			<li class="drop-down" id='colorSearch' style="display: none">
				<div class="mega-menu">
					<div class="mm-6column">
						<p>색상 검색</p>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
							<div th:include="/header/colorPicker"></div>
						</span>
						</span>
					</div>

				</div>
			</li>

			<!-- 스타일 -->
			<li class="drop-down" id='styleSearch' style="display: none">
				<div class="mega-menu">
					<div class="mm-6column">
						<p>스타일 검색</p>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<table>
									<td th:each="style:${style}"><input class="attrBtn"
										th:type="button" th:value="${style.name}"
										onclick="returnDefaultMod()"></input></td>
								</table>
						</span>
						</span>
					</div>

				</div>
			</li>

			<!-- 브랜드 -->
			<li class="drop-down" id='brandSearch' style="display: none">
				<div class="mega-menu">
					<div class="mm-6column">
						<p>브랜드 검색</p>
					</div>

					<div class="mm-3column">
						<span class="menu-list"> <span>
								<table>
									<td th:each="brand:${brand}"><input class="attrBtn"
										th:type="button" th:value="${brand[1]}"
										onclick="returnDefaultMod()"></input></td>
								</table>
						</span>
						</span>
					</div>

				</div>
			</li>

			<!-- 유저 -->
			<li class="drop-down" id='userSearch' style="display: none">
				<div class="mega-menu">
					<div class="mm-6column">
						<p>유저 검색</p>

					</div>
				</div>
			</li>
		</ul>
			
		<form id="searchButton" name="searchButton" action="/feed/searched" method="post">
			<input type="hidden" name="searchWords" id="searchWords" value="검색 내용 없음" >
			<button  value="form-data">
				<svg>
					<path
						d="M6.162 10.035a3.877 3.877 0 0 1-3.873-3.873A3.877 3.877 0 0 1 6.162 2.29a3.877 3.877 0 0 1 3.873 3.872 3.877 3.877 0 0 1-3.873 3.873m9.363 3.196l-3.081-3.08a1.614 1.614 0 0 0-1.23-.468 6.127 6.127 0 0 0 1.11-3.521 6.162 6.162 0 1 0-6.162 6.162 6.13 6.13 0 0 0 3.521-1.109c-.022.442.13.891.467 1.229l3.081 3.081a1.622 1.622 0 0 0 2.294-2.294">
					</path>
				</svg>
			</button>
		</form>
		
		
		<a href=""><i class="glyphicon glyphicon-plus"></i></a> 
		<a href=""><i class="glyphicon glyphicon-king"></i></a>     
		<a href=""><i class="glyphicon glyphicon-heart"></i></a> 
		<a href=""><i class="glyphicon glyphicon-user"></i></a>
	</nav>

	<div class="form-data" id="form-data"></div> 


	<script src="/js/header.js"></script>

</body>
</html>