<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#passwordFalse").hide();
		$("input").keyup(function() {
			var password = $("#newPassword").val();
			var password2 = $("#newPassword2").val();
			if (password != "" || password2 != "") {
				if (password == password2) {
					$("#passwordFalse").hide();
					$("#submit").removeAttr("disabled");
				} else {
					$("#passwordFalse").show();
					$("#submit").attr("disabled", "disabled");
				}
			}
		});
	});
</script>
<body th:align="center">
	<form th:action="@{/modPassword.do}" method="post">
		<label>현재 비밀번호</label> <input type="password" class="form-control"
			id="password" name="password" placeholder="내용을 입력해주세요" required="required"><br>
		<label>새 비밀번호 </label> <input type="password" class="form-control"
			id="newPassword" name="password" placeholder="내용을 입력해주세요" required="required" pattern="[a-zA-Z0-9]{6,20}"><br>
		<label>새 비밀번호 확인 </label> <input type="password" class="form-control"
			id="newPassword2" name="password" placeholder="내용을 입력해주세요" required="required" pattern="[a-zA-Z0-9]{6,20}"><br>
		<div id="passwordFalse">비밀번호가 일치하지 않습니다</div>
		<br> <span><input type="submit" value="비밀번호 변경"></span>

	</form>
</body>
</html>