<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script type="text/javascript">
	$(document).ready(function() {
		var submenu = $(".profile-menu>a").next("ul");
		submenu.hide();
		$(".profile-menu>a").click(function() {

			if (submenu.is(":visible")) {
				submenu.hide();
			} else {
				submenu.show();
			}
		})

	});
</script>

<!-- li에 css적용하기 -->
<body th:align="center">
<div class="profile-menu-bar">
	<ul class="profile-menu">
	  <a><img src="images/settingIcon.png" width="50" height="50"/></a>
       <ul class="list">
        <li><a href="modProfile">프로필 변경</a></li>
        <li><a href="modProfileAll">개인정보 변경</a></li>
        <li><a href="#3A">스타일 변경</a></li>
        <li><a href="logout.do">로그아웃</a></li>
       </ul>
    </li> 
	</ul>
</div>

</body> 
</html>