<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/modal.css">
<!-- 
</head>


li에 css적용하기
<body th:align="center">
<div class="profile-menu-bar">
	<ul class="profile-menu">
	  <a><img src="/images/settingIcon.png" width="50" height="50"/></a>
       <ul class="list">
        <li><a href="modProfile">프로필 변경</a></li>
        <li><a href="modProfileAll">비밀번호 변경</a></li>
        <li><a href="#3A">스타일 변경</a></li>
        <li><a href="logout.do">로그아웃</a></li>
       </ul>
    </li> 
	</ul>
</div>

</body> 
</html> -->

  <title>Fashion Log</title>  
</head>
<body>
  	<nav>
	<div class="fashion">
		<div th:include="header/header" class="fashionHeader"
		style="position: fixed; width: 100%;"></div>
	</nav>
	
	<!-- 이용자 정보 -->
	<div sec:authorize="isAuthenticated()" id="userInfo" hidden="true" >
	<span id="userNo" sec:authentication="principal.member.memberNo"></span>
	<span id="userId" sec:authentication="principal.member.id"></span>
	<span id="userNickname" sec:authentication="principal.member.nickname"></span>
	<span id="userPhonenumber" sec:authentication="principal.member.phonenumber"></span>
	<span id="userEmail" sec:authentication="principal.member.email"></span>
	</div>
	
	<div class="profile">
		
			<a href="#menu" id="toggle"><span></span></a>

<div class="option" id="menu">
  <ul>
    <li><button id="modProfile">프로필 변경</button></li>
    <li><a href="modProfileAll">회원정보 변경</a></li>
    <li><a href="#contact">스타일 변경</a></li>
    <li><a href="logout.do">로그 아웃</a></li>
  </ul>
</div>

			<div class="profile-image">

				<img th:src="${userInfo.profileImageNo.path}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">janedoe_</h1>

				<button class="btn profile-edit-btn">팔로우</button>
				

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count"> 게시물</span> 164</li>
					<li><span class="profile-stat-count"> 팔로워</span> 188</li>
					<li><span class="profile-stat-count"> 팔로잉</span> 206</li>
				</ul>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 94</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 3</li>
					</ul>

				</div>

			</div>


			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 66</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>

			

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 34</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
					</ul>

				</div>

			</div>


		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->
		
	
	<!-- 회원정보 변경-->
		<div id="modProfileModal" class="modal" method=post>
			<div class="modalContents">
				<h1>회원정보 변경</h1>
				<br>
				<!-- <input type="file" id="selectImg" name="mulFile" />
				<div class="imgMold">
					<img id="postImage" class="postImage"><br>
				</div>
				<input id="profileImageModBtn" type="button" th:value="등록하기"/>
				<label class="close">&times;</label> -->
				<label class="close">&times;</label>
				<form id="imgWrap" class="imgWrap" method="post" enctype="multipart/form-data">
				<input type="hidden" id="type" name="type" value="profile"> 
				<input type="file" id="selectImg" name="mulFile" />
				<div class="imgMold">
					<img id="postImage" class="postImage" src=""><br>
				</div>
			</form>
				
				<button type="submit" id="submit">프로필 사진 등록</button>
				
				</div>
				
			</div>	

<script src="/js/profile.js"></script>
<script src="/js/profileMenu.js"></script>
<script th:src="@{/js/post/previewImage.js}"></script>
</body>
</html>
