<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>회원 가입</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/styleSelect.css}">

</head>
<body>
	<div class="selectTable" >
	<!-- 	<table>
		<tr id="row1">
			<td class ="styleSample">
				<p id="styleName0" class="styleName"></p>
				<img id = "styleImg0">
			</td>
			<td class ="styleSample">
				<p id="styleName1" class="styleName"></p>
				<img id = "styleImg1">
			</td>
			<td class ="styleSample">
				<p id="styleName2" class="styleName"></p>
				<img id = "styleImg2">
			</td>
		</tr>
		<tr id="row2">
			<td class ="styleSample">
				<p id="styleName3" class="styleName"></p>
				<img id = "styleImg3">
			</td>
			<td class ="styleSample">
				<p id="styleName4" class="styleName"></p>
				<img id = "styleImg4">
			</td>
			<td class ="styleSample">
				<p id="styleName5" class="styleName"></p>
				<img id = "styleImg5">
			</td>
		</tr> -->

<ul>
  <li class ="styleSample"><input type="checkbox" id="cb0" />
    <label for="cb0" id="styleName0" class="styleName" onclick ="saveFavoriteStyle()">
    <img id = "styleImg0" src=""/></label>
  </li>
  <li class ="styleSample"><input type="checkbox" id="cb1" />
    <label for="cb1" id="styleName1" class="styleName">
    <img id = "styleImg1" src=""/></label>
  </li>
  <li class ="styleSample"><input type="checkbox" id="cb2" />
    <label for="cb2" id="styleName2" class="styleName">
    <img id = "styleImg2" src=""/></label>
  </li><br>
  <li class ="styleSample"><input type="checkbox" id="cb3" />
    <label for="cb3" id="styleName3" class="styleName">
    <img id = "styleImg3" src=""/></label>
  </li>
  <li class ="styleSample"><input type="checkbox" id="cb4" />
    <label for="cb4" id="styleName4" class="styleName">
    <img id = "styleImg4" src=""/></label>
  </li>
  <li class ="styleSample"><input type="checkbox" id="cb5" />
    <label for="cb5" id="styleName5" class="styleName">
    <img id = "styleImg5" src=""/></label>
  </li><br>
</ul>
		
	</div>
	
	

	<script src="/js/styleSelect.js"></script>
</body>
</html>