<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>회원 가입</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div class="selectTable" >
		<table>
		<tr id="row1">
			<td >
				<img id = "styleImg0" border="1" >
			</td>
			<td >
				<img id = "styleImg1" border="1" >
			</td>
			<td >
				<img id = "styleImg2" border="1" >
			</td>
		</tr>
		<tr id="row2">
			<td >
				<img id = "styleImg3" border="1" >
			</td>
			<td >
				<img id = "styleImg4" border="1" >
			</td>
			<td >
				<img id = "styleImg5" border="1" >
			</td>
		</tr>
		
	</div>

	<script src="/js/styleSelect.js"></script>
</body>
</html>