<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>회원 가입</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/styleSelect.css}">

</head>

<body th:align="center">
	<h3>회원가입</h3>
	<img src="images/google-logo.png" width="50" height="50" /> 
	<br> 회원님의 선호 스타일은</br>
	
		<p>
			<input type="button" id="selectBtn" onclick="location.href='/join'"
				value="돌아가기" /> <span><input type="submit" value="가입"
				onclick="btn();"></span>
		</p>
	</form>
	<script src="/js/JoinStyleSelect.js"></script>
</body>
</html>