<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/feed.css">
</head>

<body>
	<div id="feed">
		<div id="container" th:if="${feed}">
			<div th:each="post:${feed}" class="item pin" th:id="${'p'+post.postNo}">
				<div class="author">
					<a class="profileImg" th:href="|/user/${post.memberNo.nickname}|"><img
							th:src="${post.memberNo.profileImageNo.path}" /></a>
					<div class="name">
						<p class="uploader nickname" th:text="${post.memberNo.nickname}">
							nickname </p>
						<p class="uploadTime datetime" th:text="${post.uploadTime}">날짜</p>
					</div>
				</div>
				<img class="postImg" th:alt="${post.postNo+'번 포스트의 사진'}" th:src="${post.postImageNo.path}">
				<div class="description"></div>
				<div class="author">
					<span class="likesCount" th:text="${post.likesCount}"></span>
					<a><i class="glyphicon glyphicon-heart likesBtn" style="display: none"></i></a>
					<a><i class="glyphicon glyphicon-comment"></i></a>
					<a class="btn btn-primary followToggleBtn" role="button" style="display: none">팔로우</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/profileUnit.js"></script>
	<script src="/js/jquery.grid-a-licious.js"></script>
	<script src="/js/feed.js"></script>
	<script src="/js/likes.js"></script>
</body>

</html>

</html>