<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Palette</title>
<link rel="stylesheet" href="/css/colorPicker.css">
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
	<div class="selected-box"></div>

	<div class="container">
		<div class="square red" color="#ff0000"></div>
		<div class="square green" color="#008000"></div>
		<div class="square skyblue" color="#87ceeb"></div>
		<div class="square yellow" color="#ffff00"></div>
		<div class="square white" color="#ffffff"></div>
		<div class="square black" color="#000000"></div>
		<div class="square beige" color="#f5f5dc"></div>
		<div class="square navy" color="#000080"></div>
		<div class="square pink" color="#ffc0cb"></div>
		<div class="square slategray" color="#708090"></div>
		<div class="square deeppink" color="#ff1493"></div>
		<div class="square sienna" color="#a0522d"></div>
		<a href=""><i class="fas fa-eye-dropper fa-lg"></i></a>
	</div>

	<script src="js/post/palette.js"></script>
</body>
</html>