<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	
	<link rel="stylesheet" th:href="@{/css/post.css}">
	<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
	<script  th:src="@{/js/post/jquery.ajax-cross-origin.min.js}"></script>
<!-- 	<th:block th:include="header/header"></th:block> -->
</head>
<body>
	<div id="postWrite" class="postWrite">
		<input id="memberNo" name="memberNo" class="memberNo" th:value="${member.memberNo}" hidden="true">
		<div class="leftWrap">
			<form id="imgWrap" class="imgWrap" action="/item" method="post" enctype="multipart/form-data">
				<input type="hidden" id="type" name="type" value="post"> 
				<input type="file" id="selectImg" name="mulFile" />
				<div class="imgMold">
					<img id="postImage" class="postImage" src="" alt="강아지"><br>
				</div>
			</form>
			<div class="postContents">
				<textarea id="contents" rows="10" cols="39" placeholder="#해시태그 #글내용작성"></textarea>
			</div>
		</div>
		<div class="itemWrap">
			<!-- 스타일 -->
			<div class="style">
				<label for="style">스 타 일</label> 
				<select id="styleNo" name="styleNo">
					<option value="0" selected>스타일 선택</option>
					<option th:each="style:${style}" th:text="${style.name}"
						th:value="${style.styleNo}"></option>
				</select><br> 
				&emsp;&emsp;&nbsp;
				<input type="text" id="styleText1" class="styleText"> 
				<span id="1" class="styleUndo">&times;</span>
				<input type="number" id="styleNo1" class="styleNo" hidden="true">
				
				<input type="text" id="styleText2" class="styleText"> 
				<span id="2" class="styleUndo">&times;</span> 
				<input type="number" id="styleNo2" class="styleNo" hidden="true"> 
				
				<input type="text" id="styleText3" class="styleText"> 
				<span id="3" class="styleUndo">&times;</span> 
				<input type="number" id="styleNo3" class="styleNo" hidden="true">
			</div>
			<hr>
			<!-- 태그 -->
			<div id="itemTagWrap" class="itemTagWrap">
				<div id="itemTag1" class="itemTag">
					<div class="tag">
					<button type="button" id="exitBtn">&times;</button>
<!-- 						<label for="tagNo" >태그번호</label>  -->
						<input type="number" id="tagNo" name="tagNo" disabled="disabled" hidden="true"><br> 
						
						<label for="name">상 품 명</label> 
						<input type="text" id="name" name="name" placeholder="상품명 입력"><br> 
						
						<label for="categoryNo">카테고리</label>
						<select id="categoryNo" name="categoryNo">
							<option value="0" selected>카테고리 선택</option>
							<option th:each="category:${category}" th:text="${category.name}"
								th:value="${category.categoryNo}"></option>
						</select><br> 
						
						<label for="brandNo">브 랜 드</label> 
						<select id="brandNo" name="brandNo">
							<option value="0" selected>브랜드 선택</option>
							<option th:each="brand:${brand}" th:text="${brand[1]}"
								th:value="${brand[0]}"></option>
						</select><br> 
						
						<label for="color">색상</label> 
						<div class="colorSquare"></div>
						<span id="color"> </span>
						<button type="button" id="paletteBtn" class="paletteBtn">pa</button><br> 
						
						<label for="store">구 매 처</label> 
						<input type="text" id="store" name="store" placeholder="구매처 입력">
						<button type="button" id="mapBtn">지도</button><br> 
						
						<input type="number" id="xCoordinate" name="xCoordinate" hidden="true"> 
						<input type="number" id="yCoordinate" name="yCoordinate" hidden="true">
						
					</div>
				</div>
			</div>
		</div>

		<button type="submit" id="submit">등록</button>

		<div id="paletteModal" class="modal">
			<div class="modalContent">
				<span class="close" id="paletteCloseBtn">&times;</span>
				<p>팔렛트트트</p>
				<div th:include="post/palette"></div><br>
				<button type="button" id="paletteCheckBtn" class="modalBtn">확인</button>
			</div>
		</div>

		<div id="mapModal" class="modal">
			<div class="modalContent">
				<span class="close" id="mapCloseBtn">&times;</span>
				<p>지도지도도</p>
				<div th:include="post/map"></div><br>
				<button type="button" id="mapCheckBtn" class="modalBtn">확인</button>
			</div>
		</div>
	</div>

	<script th:src="@{/js/post/modal.js}"></script>
	<script th:src="@{/js/post/palette.js}"></script>
	<script th:src="@{/js/post/previewImage.js}"></script>
	<script th:src="@{/js/post/styleSelect.js}"></script>
	<script th:src="@{/js/post/tag.js}"></script>
	<script th:src="@{/js/post/post.js}"></script>
	
</body>

</html>
