








.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper > div {
  border-radius: 5px;
  padding: 2em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.onegrid {
  grid-column: 1 / 4;
  grid-row: 1 / 7;
}
.twogrid { 
  grid-column: 4 / 6;
  grid-row: 1 / 9;
}
.threegrid {
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}








/* three */

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width: 100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    height: auto;
    border-radius:50%;
}
.commentText p {
    margin:0;
    margin-left: 10px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
    display: inline-block;
}
.actionBox {
    padding:10px;
    position: relative;
}

.postimage img {
    border-radius: 8px;
    width: 100%;
    height: 576px;
}

.your_id {
    font-weight: bold;
    margin: 0;
    
}


.action-button {
  display: inline-block;
  cursor: pointer;
}

nickname {
  postion: static;
}

















































#columns {
	column-width: 400px;
	column-gap: 35px;
  width: 100%;
	max-width: 1280px;
	margin: 50px auto;
}

div#columns .pin {
/* 	background: #f2f2f2; */
/* 	border: 2px solid #fcfcfc; */
/* 	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); */
	margin: 0 0 10px 0;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  width: 340px;
  padding: 22px;
  height: auto;
  border-radius: 8px;
  position:relative;
	width: 100%;
    overflow: hidden;
	background-color: #fff;
	border-radius: 15px;
	border: 2px solid #eee;
  
}

div#columns .pin:hover img {
  opacity: .9;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

div#columns .pin::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  transform: scale(.96);
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  transition: all .075s ease-in-out;
  -moz-transition: all .075s ease-in-out;
  -webkit-transition: all .075s ease-in-out;
}

.description p {
  width: 185px;
  font-weight: normal;
  font-size: 11pt;
  padding-left: 8px;
}

div#columns .pin:hover::after {
  background: #f2f2f2;
  transform: scale(1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

p.contributor {
  color: #a7a7a7;
  font-weight: bold;
  font-size: 12px !important;
  letter-spacing: -0.1px !important;
  line-height: 14px !important;
  word-spacing: 0 !important;
}

img {
  border-radius: 8px;
  width: 360px;
}


@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}



.profile {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-color: #3E90A8;
  border-radius: 27px;
}

.name {
    display: inline-block;
}

.name p {
  color: #5a5a5a;
  font-size: 9pt !important;
  margin-left: 8px;
  line-height: 0.3;
}




li {
  list-style:none;
}

.datetime {
    display: block;
    position: absolute;
    right: 30px;
    padding-right: 5px;
    float: right;
    text-align:right;
    width:33.33333%;
}


.nickname {
    float: left;
    text-align:left;
    width:33.33333%;
}


.btn-primary {
  position: absolute;
  right: 10%;
}

.glyphicon-cog {
  position: absolute;
  font-size: 150%;
  left: 490%
}
















/* scrollbar */

.scrollbar {
	float: left;
	height: 400px;
	width: 370px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
  margin-top: 100px;
  border: 1px solid #ccc;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}






/* aco */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  display: grid;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}
summary {
  cursor: pointer;
  outline: none;
  font-size: 1.5em;
  line-height: 1.5;
  vertical-align: bottom;
  background: #f1f1f1;
  padding: 10px;
  position: relatvie;
  border: 1px solid #ccc;
  margin-top: 50px;
	
}
summary::-webkit-details-marker {
  display: none;
}
.details--inner {
  background: #fffff;
  padding: 20px;
  border: 1px solid #ccc;
}
summary:after {
  float: right;
  content: "+";
  line-height: 1.2;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin: -5px 10px 0 0;
  padding: 0;
  text-align: center;
  width: 20px;
}
details[open] summary:after {
  content: "–";
}


.author {
    padding: 4px 10px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    position: relative;
}


.btn-primary {
  position: absolute;
  margin:-15px -3%;
}

.author > a > .glyphicon-heart  {
  position: absolute;
  font-size: 200%;
  margin-left: 90%;
}

.colortag {
    position: absolute;
    padding-right: 5px;
    float: right;
    text-align: right;
   margin-top: 8px;  
}



.like {
    position: absolute;
    padding-right: 5px;
    float: right;
    text-align: right;
    width: 88%;
   margin-top: 8px;
}


/* p_image */

p_layout {
	display: flex;
    flex: 1;
}

.p_image {
	position : block;
    max-width: 5rem;
    border-radius: 50%;
	align: middle;
	float: left;
}

.nameing {	
  font-size: 20px;
	  padding: 15px 0 0 70px;
}





