<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://sliptree.github.io/bootstrap-tokenfield/docs-assets/js/typeahead.bundle.min.js"></script>
<script
	src="https://sliptree.github.io/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>


<link rel="stylesheet"
	href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet"
	href="//sliptree.github.io/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css">
<link rel="stylesheet"
	href="//sliptree.github.io/bootstrap-tokenfield/dist/css/tokenfield-typeahead.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- icon pack -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/feed.css">

<script src="/js/jquery.grid-a-licious.js"></script>
  <script src="/js/feed.js"></script>
  
<title>Noti Test</title>
</head>
<body>


<h1>알 림</h1>



<div class="container">
  <!-- Button to Open the Modal -->
  <a class="btn btn-primary" data-toggle="modal" data-target="#notiModal">
    알림
  </a>
  <!-- The Modal -->
  <div class="modal" id="notiModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">새로운 알림</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" th:include="notification/notiList">
         	알림 내용
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
