<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="follow.css">
<title>follow</title>
</head>
<body> 
    <div id="friendList">
   
   <div class='friend'>
      <img src='https://i.gyazo.com/a114a3a8b64ab73ffadee6b34afb5a9e.png'>
      <span class='name'>moonspurse</span>
      <span class='state online'><a href="#" class="btn btn-primary" role="button">팔로우</a>
   </div>
   <div class='friend'>
      <img src='https://i.gyazo.com/9247e766f98cc079485b0a0535b0c784.png'>
      <span class='name'>stare</span>
      <span class='state online'><a href="#" class="btn btn-primary" role="button">팔로우</a>
   </div>
   <div class='friend'>
      <img src='https://i.gyazo.com/474a675338721202496e5e5f7b93c01a.png'>
      <span class='name'>technull</span>
      <span class='state online'><a href="#" class="btn btn-primary" role="button">팔로우</a>
   </div>
   
	</div>
</body>
</html>

