<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 로그인, 회원가입이 잘 되나 보기위해 만든 페이지, 테스트 끝나고 추후 삭제할 예정  -->
<head>
	<title>메인페이지</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<br>
	<h3 align="center">게시판</h3>
	<hr>
<!-- 	<h4 th:unless="${session.member==null}" th:text="|환영합니다 ${session.member.id}(${session.member.nickname})님|">환영합니다 </h4> -->
<div sec:authorize="isAuthenticated()">
	<h4><span sec:authentication="name"></span>님, 환영합니다 </h4>
	<h3><span sec:authentication="principal.member.nickname"></span></h3>
</div>
	
	<p align="center"><a href="feed">피드보기</a></p>
	<p align="center"><a href="allFeed">모든피드보기</a></p>
	<p align="center"><a href="login">로그인</a></p>
	<p align="center"><a href="join">새 계정 만들기</a></p>
	<p align="center"><a href="postWrite">포스트 쓰기</a></p>
	<br>
	<hr>
</body>
</html>