<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<input type="hidden" class="unitMemberNo" th:value="${user.memberNo}"/>
	<img class='profileUnitMemImg' th:alt="${user.nickname+'의 프로필 사진'}" th:src="${user.profileImageNo.path}">&nbsp;&nbsp;
	<div class='posts'>
		<table class='postTable'>
			<tr>
				<td th:each='post,index:${user.posts}' class='profileUnitPost' th:unless='${index.index}>2' >
					<input type="hidden" class='postNo' th:value="${post.postNo}"/>
					<img class='postImage' th:src='${post.postImageNo.path}'/>
				</td>
			</tr>
		</table>
	</div>
	<span class='profileUnitNickname' th:text='${user.nickname}'> 유저 닉네임 </span>
	<button class="followToggleBtn" style="display:none" > follow </button>
</body>
</html>