<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="css/rankCss.css">
</head>
<body>
	

<div class="1">

	<img class="profile-image" src="https://i.ibb.co/LPCD2nQ/20190714210551750-500.jpg" alt="">
	
<div class="imgno">
  <div>
    <figure><img src="https://picsum.photos/125/125?image=244" /></figure>
  </div>
  <div>
    <figure><img src="https://picsum.photos/125/125?image=1024" /></figure>
  </div>
  <div>
    <figure><img src="https://picsum.photos/125/125?image=611" /></figure>
  </div>
</div>



				<h1 class="your-user-name">janedoe_</h1>

				<button class="btn your-edit-btn">팔로우</button>
				
				
				


	
	


	
	
	

<div class="1">

	<img class="profile-image" src="https://i.ibb.co/LPCD2nQ/20190714210551750-500.jpg" alt="">
	
<div class="imgno">
  <div>
    <figure><img src="https://picsum.photos/125/125?image=244" /></figure>
  </div>
  <div>
    <figure><img src="https://picsum.photos/125/125?image=1024" /></figure>
  </div>
  <div>
    <figure><img src="https://picsum.photos/125/125?image=611" /></figure>
  </div>
</div>


				<h1 class="your-user-name">janedoe_</h1>

				<button class="btn your-edit-btn">팔로우</button>
				
				


</body>
</html>