<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/profileUnit.js"></script>
<title>Fashion Log - Ranking</title>
</head>
<body> 

<h1>ranking : <span th:text="${rankType}">type</span></h1>
<h2>로그인 됨 : <span id="loginUserNickname" sec:authentication="principal.member.nickname"></span></h2>

<div th:switch="${rankType}">
	<div th:case="brand">
	<h3><a href='/ranking/user/followers'>user 랭킹 보기</a></h3>
		<div th:each="brand,index : ${brandRankingList}">
			<span th:text="${index.index+1}"> </span>
			 <img th:alt="${brand.name+'의 프로필 사진'}" th:src="${brand.brandImageNo.path}">&nbsp;&nbsp;
			 <span th:text=${brand.name}> 브랜드 이름 </span>
			 <p th:text="'등록된 아이템 수 : '+${brand.itemCount}"></p> 
		 </div>
	</div>
	<div th:case="user" >
		<h3><a href='/ranking/brand'>brand 랭킹 보기</a></h3>
		<h4 th:if="${criterion=='likes'}"> <a href='/ranking/user/followers'>followers 랭킹 보기</a></h4>
		<h4 th:if="${criterion=='followers'}"> <a href='/ranking/user/likes'>likes 랭킹 보기</a></h4>
		<div th:each="user,index : ${userRankingList}">
			<span th:text="${index.index+1}"> </span>
			<div class="profileUnit" th:include="profileUnit"> </div>
			<p th:text=
			"${criterion=='likes'} ? 
			${user.likesCount}+'개의 좋아요를 받았습니다.' : 
			${user.followers.size()}+'명이 팔로우합니다.'"></p>
		</div>
	</div>
</div>
</body>
</html>