<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>회원 로그인</title>
 <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script type="text/javascript">
 $(function() {
	 $("#hiddenDevBtn").click(function(){
		 $.ajax({
		type : 'post',
		url : '/getAllMember',
		dataType : 'text',
		data : {},
		success : function(idList) {
		$('#nowMems').html(idList);	
		},
		error : function(result) {
			alert("연결 상태를 확인해주세요");
		}
	});
	 })
 });
 </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
	<h3>로그인</h3>
	<img src="images/google-logo.png" width="50" height="50" />
	<form th:action="@{/login.do}" method="post" >
		<div class="form-group">
			<input type="text" class="form-control" id="id" name="id" placeholder="아이디"><br>
			<br>
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호"><br>
		</div>
		<span><input type="submit" value="로그인"></span>
		<p align="center"><a href="join">새 계정 만들기</a> </p>
		또는<br>
		
	</form>
	 <!-- 네이버아이디로로그인 버튼 노출 영역 -->
  <div id="naver_id_login"></div>
  <!-- //네이버아이디로로그인 버튼 노출 영역 -->
  <script type="text/javascript">
  	var naver_id_login = new naver_id_login("kpfWWvPMZI41nd1qo8m6", "http://localhost:8080");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("white", 2,40);
  	naver_id_login.setDomain("http://localhost:8080");
  	naver_id_login.setState(state);
  	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
  </script>
  <div th:if="${session.member}">
			<span th:text="${session.member.id}"></span>
			<a href="logout.do">로그아웃</a>
  </div>
		<div th:unless="${session.member}">
			로그인안됨
		</div>
	<button id="hiddenDevBtn">&nbsp;&nbsp;</button>
	<div id="nowMems">
  	</div>
  
</body>
</html>